@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

span[role="button"]:focus {
  outline: none;
}

.container {
  font-family: 'Sintony', sans-serif !important;
  margin: 2rem auto;
  padding: 0 5rem;
  padding-bottom: 1rem;
  text-align: center;
  border-radius: 20px;
  background: #fafafa;
  box-shadow:  20px 20px 60px #eeeeee,
               -20px -20px 60px #ffffff;
}

.row {
  padding: 0 4rem;
}

.breadcrumb {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 1rem !important;
}

.heading-row {
  border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #17a2b8;
    color: white;
    padding-top: 1.5rem;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
